# Advent of Code 2021

https://adventofcode.com/2021/day/1

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv ('inputs/01.csv',sep=' ')
df.sample(5)

      value
487     542
1738   1691
1351   1318
1771   1739
529     559

## 01/01

In [8]:
df01 = df.copy()

df01["increase"] = df01["value"] > df01["value"].shift()

df01.groupby("increase").size()

increase
False     861
True     1139
dtype: int64

## 01/02

In [9]:
df02 = df.copy()

df02["value_2"] = df02["value"].shift()
df02["value_3"] = df02["value"].shift(periods=2)
df02["value_total"] = df02.sum(axis=1,skipna=False)

df02["increase"] = df02["value_total"] > df02["value_total"].shift()

df02.groupby("increase").size()

increase
False     897
True     1103
dtype: int64