# Advent of Code 2021

https://adventofcode.com/2021/day/4

In [74]:
import pandas as pd

In [75]:
df = pd.read_csv ('inputs/04_1.csv',sep=',',header=None)
numbers = df.values[0]
numbers

array([72, 99, 88,  8, 59, 61, 96, 92,  2, 70,  1, 32, 18, 10, 95, 33, 20,
       31, 66, 43, 26, 24, 91, 44, 11, 15, 48, 90, 27, 29, 14, 68,  3, 50,
       69, 74, 54,  4, 16, 55, 64, 12, 73, 80, 58, 83,  6, 87, 30, 41, 25,
       39, 93, 60,  9, 81, 63, 75, 46, 19, 78, 51, 21, 28, 94,  7, 17, 42,
       53, 13, 97, 98, 34, 76, 89, 23, 86, 52, 79, 85, 67, 84, 47, 22, 37,
       65, 71, 49, 82, 40, 77, 36, 62,  0, 56, 45, 57, 38, 35,  5])

In [76]:
df = pd.read_csv ('inputs/04_2.csv',sep=',',header=None)
df = df.apply(lambda x: x.str.replace("  ", " ")).copy()
df = df.apply(lambda x: x.str.lstrip()).copy()
df = df[0].str.split(" ",expand=True).copy()

df = df.astype("int32")
df.head(10)

    0   1   2   3   4
0  91  60  70  64  83
1  35  41  79  55  31
2   7  58  25   3  47
3   2  23  69  59  21
4  11  22   8  87  90
5  77  95  19  21  76
6  93  92  62  35   3
7   4  29   7  41  45
8  80  50  83  61  64
9  39  32  91  56  48

In [130]:
def get_diagonal_values(df):
    dftemp1 = df.copy()
    dftemp2 = df.copy()
    for i in df.columns:
        dftemp1[i] = dftemp1[i].shift(periods=-i)
        dftemp2[i] = dftemp2[i].shift(periods=-len(df.columns)+1+i)
    return pd.concat([dftemp1.iloc[[0]], dftemp2.loc[[0]]])

def check_win(df):
    df = df.reset_index(drop=True)
    return (-len(df.columns) in df.sum(axis=0).values) or (-len(df.columns) in df.sum(axis=0).values) or (-len(df.columns) in get_diagonal_values(df).sum(axis=1).values)

## 04/01 + 04/02

In [119]:
df01 = df.copy()

wins = {}

for n in numbers:
    for col in df01.columns:
        df01.loc[df01[col] == n, col] = -1
    for i in range(0,int(df01[0].count() / 5)):
        if i not in wins:
            dftemp = df01.iloc[range(0+len(df01.columns)*i,len(df01.columns)+len(df01.columns)*i)].copy()
            if check_win(dftemp):
                for col in dftemp.columns:
                    dftemp.loc[dftemp[col] == -1, col] = 0
                wins[i]=dftemp.sum().sum() * n

In [ ]:
"{} {}".format(list(wins.keys())[0],list(wins.values())[0])

In [ ]:
"{} {}".format(list(wins.keys())[-1],list(wins.values())[-1])

In [ ]:
"{} {}".format(list(wins.keys())[-2],list(wins.values())[-2])