# Advent of Code 2021

https://adventofcode.com/2021/day/5

In [94]:
import pandas as pd
import numpy as np

In [95]:
df = pd.read_csv ('inputs/05.csv',sep=' ',header=None)
df = pd.merge(df[0].str.split(",",expand=True), df[2].str.split(",",expand=True), left_index=True, right_index=True)
df = df.rename(columns={"0_x":"x1", "0_y":"x2", "1_x":"y1", "1_y":"y2"})
df = df.astype("int32")
df.head(5)

    x1   y1   x2   y2
0  309  347  309  464
1  425  687  300  687
2  226  766  885  107
3  681  618  921  378
4  968   54   38  984

In [96]:
max_value = int(df.max().max()) + 1
df01 = pd.DataFrame(np.ones((0, max_value)))
for i in range(0,max_value):
    df01 = df01.append(pd.Series(dtype="int32"),ignore_index=True)
df01 = df01.fillna(0)

In [97]:
df02 = df01.copy() # task 1
df03 = df01.copy() # task 2

for i in range(len(df.index)):
    x1= df.iloc[[i]]["x1"].values[0]
    y1 = df.iloc[[i]]["y1"].values[0]
    x2= df.iloc[[i]]["x2"].values[0]
    y2 = df.iloc[[i]]["y2"].values[0]

    if x1 == x2 or y1 == y2:
        for x in range(min([x1,x2]),max([x1,x2])+1):
            for y in range(min([y1,y2]),max([y1,y2])+1):
                df02.at[y, x] = df02.at[y, x] +1
                df03.at[y, x] = df03.at[y, x] +1
    else:
        if x1 > x2:
            tmp = y1
            y1 = y2
            y2 = tmp
        y = y1
        
        y_direction = -1 if (y1 > y2) else 1

        for x in range(min([x1,x2]),max([x1,x2])+1):
            df03.at[y, x] = df03.at[y, x] +1
            y = y + y_direction

In [ ]:
df02.sample(5)

In [ ]:
df03.sample(5)

In [103]:
def count_overlaps(df):
    max_overlap = int(df.max().max())

    cnt = {}
    for i in range(max_overlap+1):
        cnt[i] = 0
    for i in range(1,max_value):
        temp = df.groupby(i).count().reset_index(drop=True)[0].copy()
        for j in range(len(temp)):
            cnt[j] = cnt[j] + temp[j]
    return cnt

In [ ]:
cnt = count_overlaps(df02)
result = 0
for i in range(2,len(cnt)):
    result += cnt[i]

print(cnt, result)

In [ ]:
cnt = count_overlaps(df03)
result = 0
for i in range(2,len(cnt)):
    result += cnt[i]

print(cnt, result)