# Advent of Code 2021

https://adventofcode.com/2021/day/6

In [108]:
import pandas as pd

In [109]:
df = pd.read_csv ('inputs/06.csv',sep=',',header=None)
df = df.T
df = df.rename(columns={0:"age"})
df = df.groupby("age").agg(count=("age","size")).reset_index().copy()
df

   age  count
0    1    121
1    2     47
2    3     38
3    4     44
4    5     50

In [110]:
# add missing ages
for i in range(0,8+1):
    if not i in list(df["age"].values):
        df = df.append({ "age": i, "count" : 0},ignore_index=True)
df = df.sort_values(by="age").reset_index(drop=True)

In [ ]:
df01 = df.copy()
days = 256 # task with 80 days

for i in range(days):
    renew = df01[df01["age"] == 0]["count"][0]
    df01.loc[df01["age"],"count"] = df01["count"].shift(-1)
    df01 = df01.fillna(0)
    df01.loc[df01["age"]==6,"count"] = df01["count"] + renew
    df01.loc[df01["age"]==8,"count"] = renew
    
df01

In [ ]:
df01["count"].sum()