# Advent of Code 2021

https://adventofcode.com/2021/day/7

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ('inputs/07.csv',sep=',',header=None)
df = df.T
df = df.rename(columns={0:"position"})
df = df.groupby("position").agg(count=("position","size")).reset_index().copy()
df.head(10)

   position  count
0         0      3
1         1      6
2         2      3
3         3      6
4         4      5
5         5      2
6         6      2
7         7      5
8         8      3
9        10      2

In [3]:
# add missing positions
for i in range(0,df["position"].max()):
    if not i in list(df["position"].values):
        df = df.append({ "position": i, "count" : 0},ignore_index=True)
df = df.sort_values(by="position").reset_index(drop=True)

## 07/01

In [4]:
min_costs = 999999999999999999
position = -1
for i in range(0,df["position"].count()):
    df["costs"] = abs(df.iloc[i]["position"] - df["position"]) * df["count"]
    if min_costs > df["costs"].sum():
        position = i
        min_costs = df["costs"].sum()
    #print(position,min_costs)

In [ ]:
df["costs"] = abs(df.iloc[position]["position"] - df["position"]) * df["count"]

"Position: {}, Costs: {}".format(position, df["costs"].sum())

## 07/02

In [6]:
def sum_range(df):
    list = []
    for x in df:
        list.append(sum(range(1,x+1)))
    return pd.Series(list)
        

min_costs = 999999999999999999999999999999
position = -1
for i in range(0,df["position"].count()):
    df["costs2"] = sum_range(abs(df.iloc[i]["position"] - df["position"])) * df["count"]
    if min_costs > df["costs2"].sum():
        position = i
        min_costs = df["costs2"].sum()
    #print (i,min_costs)
    

df["costs2"] = sum_range(abs(df.iloc[position]["position"] - df["position"])) * df["count"]

In [ ]:
"Position: {}, Costs: {}".format(position, df["costs2"].sum())